<div class="ui special cards" (click)="hoverDim()" >
  <span class="text" *ngIf="productList === undefined">Loading...</span>
  
  <div class="card" *ngFor="let product of productList">
      <div class="blurring dimmable image" >
          <div class="ui dimmer">
              <div class="content">
                  <div class="center">
                      <div class="ui inverted button inactive" (click)="buyProduct(product)">Price: ${{ product.price / 100.0 | number }}</div>
                  </div>
              </div>
          </div>
          <img src="assets/images/logo.png">
      </div>
      <div class="content">
          <a class="ui header">{{ product.name }}</a>
      </div>
  </div>
  
</div>