<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Cappuccino</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
        <button class="positive ui button">Hot only!</button>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Macchiato</a>
      <div class="meta">
        <span class="date">Create in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
        <div class="ui buttons">
          <button class="ui button">Hot</button>
          <div class="or"></div>
          <button class="ui positive button">Cold</button>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Latte</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
        <button class="positive ui button">Hot only!</button>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Americano</a>
      <div class="meta">
        <span class="date">Create in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
        <div class="ui buttons">
          <button class="ui button">Hot</button>
          <div class="or"></div>
          <button class="ui positive button">Cold</button>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Espresso</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
        <button class="positive ui button">Hot only!</button>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Flat White</a>
      <div class="meta">
        <span class="date">Create in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
        <div class="ui buttons">
          <button class="ui button">Hot</button>
          <div class="or"></div>
          <button class="ui positive button">Cold</button>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Mocha</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
        <button class="positive ui button">Hot only!</button>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="assets/images/logo.png">
    </div>
    <div class="content">
      <a class="header">Double Espresso</a>
      <div class="meta">
        <span class="date">Create in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
        <div class="ui buttons">
          <button class="ui button">Hot</button>
          <div class="or"></div>
          <button class="ui positive button">Cold</button>
        </div>
    </div>
  </div>
</div>
