<div class="pushable">
    <img class="ui large image" src="assets/images/wcc-logo.jpg">
    <div class="pusher">
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        
                        <h3 class="ui header">Light, Medium, and Dark Roasts From All Around The Globe!</h3>
                        <p>We import world-class coffee from various countries.</p>
                        
                        <h3 class="ui header">Why World Cup Coffee?</h3>
                        <p>Because drinking coffee is an experience to be cherished by all.</p>
                    
                    </div>
                    <div class="six wide right floated column">
                        <img src="assets/images/bg-option.jpg" class="ui bordered image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a routerLink="/menu" class="ui huge button">Have A Look At Our Menu!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>